# TARGET config
CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_MULTI_PROFILE=y
CONFIG_TARGET_PER_DEVICE_ROOTFS=y
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01=n
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-ss-01="ipq-wifi-jdcloud_re-ss-01 -kmod-ath11k-pci"
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02=y
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-02="ipq-wifi-jdcloud_re-cs-02 ath11k-firmware-qcn9074 kmod-ath11k-pci luci-app-athena-led luci-i18n-athena-led-zh-cn luci-app-cupsd luci-app-dockerman luci-i18n-dockerman-zh-cn"
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07=n
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_jdcloud_re-cs-07="-ath11k-firmware-ipq6018 -kmod-ath11k -kmod-ath11k-ahb -kmod-ath11k-pci luci-app-dockerman luci-i18n-dockerman-zh-cn"
CONFIG_TARGET_DEVICE_qualcommax_ipq60xx_DEVICE_redmi_ax5-jdcloud=n
CONFIG_TARGET_DEVICE_PACKAGES_qualcommax_ipq60xx_DEVICE_redmi_ax5-jdcloud="ipq-wifi-redmi_ax5-jdcloud -kmod-ath11k-pci"
CONFIG_TARGET_ROOTFS_INITRAMFS=n

# Compile
CONFIG_USE_APK=n
CONFIG_DEVEL=y
CONFIG_CCACHE=y
CONFIG_TARGET_OPTIONS=y
CONFIG_TARGET_OPTIMIZATION="-O2 -pipe -march=armv8-a+crc+crypto -mtune=cortex-a53 -mcpu=cortex-a53 -mfix-cortex-a53-835769 -mfix-cortex-a53-843419"
CONFIG_TOOLCHAINOPTS=y
CONFIG_GCC_USE_VERSION_13=y
CONFIG_GDB=n

# BUSYBOX
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_TELNET=y

# Swap
CONFIG_PACKAGE_zram-swap=y
#补充依赖
CONFIG_PACKAGE_python3-netifaces=y
CONFIG_PACKAGE_libxcrypt=y
# NSS
CONFIG_IPQ_MEM_PROFILE_256=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_MEM_PROFILE_HIGH=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y
CONFIG_PACKAGE_sqm-scripts-nss=y
CONFIG_PACKAGE_kmod-qca-mcs=y
CONFIG_KERNEL_SKB_RECYCLER=y
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y
CONFIG_PACKAGE_kmod-ath11k-pci=m
CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
CONFIG_PACKAGE_MAC80211_MESH=y
CONFIG_ATH11K_NSS_MESH_SUPPORT=y
CONFIG_PACKAGE_wpad-mesh-openssl=y

# Proto
CONFIG_PACKAGE_proto-bonding=y
# CONFIG_PACKAGE_luci-proto-quectel=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-proto-relay=y

# Kernel modules
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-netlink-diag=y
CONFIG_PACKAGE_kmod-inet-diag=y
CONFIG_PACKAGE_kmod-tls=y
CONFIG_PACKAGE_kmod-tun=y
#  USB Support
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-ehci=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb2=y
#  docker kernel dependencies
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-ip6tables=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-nat6=y
CONFIG_PACKAGE_kmod-ipt-physdev=y
CONFIG_PACKAGE_kmod-nf-ipt6=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-veth=y

# Libraries
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_libopenssl-legacy=y

# Package
CONFIG_PACKAGE_easytier=y
CONFIG_PACKAGE_htop=y

CONFIG_PACKAGE_ntfs3-mount=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_sgdisk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_cgdisk=y
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_gdisk=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_qrencode=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_usbmuxd=y
CONFIG_PACKAGE_mii-tool=y
CONFIG_PACKAGE_default-settings=y
CONFIG_PACKAGE_default-settings-chn=y
#  Coremark
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=6
#  iptables nft
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_ip6tables-nft=y
#  docker dependencies
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_ip6tables-mod-fullconenat=y
CONFIG_PACKAGE_iptables-mod-fullconenat=y
CONFIG_PACKAGE_libip4tc=y
CONFIG_PACKAGE_libip6tc=y
#  mwan3 dependencies
CONFIG_PACKAGE_iptables-mod-conntrack-extra=y

# Enable Luci App
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cupsd=m
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-dockerman=m
CONFIG_PACKAGE_luci-app-easytier=y
CONFIG_PACKAGE_luci-app-istorex=y
CONFIG_PACKAGE_luci-app-lucky=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-oaf=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-apfree-wifidog=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-athena-led=m
CONFIG_PACKAGE_luci-i18n-athena-led-zh-cn=m


#-----------------以下自行增加的插件及组件-----------------#
#zram-swap内存压缩
#CONFIG_PACKAGE_kmod-zram=y
#CONFIG_PACKAGE_zram-swap=y
#依赖插件及组件
#CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_fuse3-utils=y
CONFIG_PACKAGE_libfuse1=y
CONFIG_PACKAGE_ibfuse3-3=y
#动态域名解析
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ddns-go=y
#微力同步
CONFIG_PACKAGE_luci-app-verysync=y
#补全linux系统管理指令
CONFIG_PACKAGE_sudo=y
#DDNS依赖
CONFIG_PACKAGE_drill=y
#luci-app-openvpn-server服务器
#CONFIG_PACKAGE_openvpn-easy-rsa=y
#CONFIG_PACKAGE_openssl-util=y
#CONFIG_PACKAGE_openvpn-openssl=y
#CONFIG_PACKAGE_libcap-ng=y
#CONFIG_PACKAGE_liblz4-1=y
#CONFIG_PACKAGE_liblzo2=y
CONFIG_PACKAGE_luci-app-openvpn-server=y
#FTP服务器
CONFIG_PACKAGE_luci-app-vsftpd=y
#微信通知推送
CONFIG_PACKAGE_luci-app-wechatpush=y
#IPTV组播转换
#CONFIG_PACKAGE_luci-app-msd_lite=y
#IPTV组播代理
CONFIG_PACKAGE_luci-app-omcproxy=y
#web服务器
CONFIG_PACKAGE_luci-app-uhttpd=y

#全能推送PushBot
CONFIG_PACKAGE_luci-app-pushbot=y
#关机poweroff
CONFIG_PACKAGE_luci-app-poweroff=y

#主题界面edge
#CONFIG_PACKAGE_luci-theme-edge=y
#文件浏览器filebrowser-go
CONFIG_PACKAGE_luci-app-filebrowser-go=y
#多端网盘挂载alist
CONFIG_PACKAGE_luci-app-alist=y
#php8
CONFIG_PACKAGE_php8=y
CONFIG_PACKAGE_php8-cgi=y
CONFIG_PACKAGE_php8-mod-curl=y
#Wi-Fi定时开关
CONFIG_PACKAGE_luci-app-wifischedule=y
#阿里云盘webdav
#CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y

#KMS服务器
CONFIG_PACKAGE_luci-app-vlmcsd=y
#ZeroTier内网穿透
CONFIG_PACKAGE_luci-app-zerotier=y
#访问时间控制
CONFIG_PACKAGE_luci-app-accesscontrol=y

#提供网络设备的自动重启和断网检测功能
CONFIG_PACKAGE_luci-app-watchcat=y
#内核级文件共享
CONFIG_PACKAGE_luci-app-ksmbd=y
#argon主题配置
CONFIG_PACKAGE_luci-app-argon-config=y
#端口转发socat
#CONFIG_PACKAGE_socat=y
#CONFIG_PACKAGE_luci-app-socat=y

#-----------以上为自行增加的插件及组件-------------#

#-------------------2025.04.04-测试---------------#
#字符支持
#CONFIG_PACKAGE_libpcre2=y



#音乐服务器
CONFIG_PACKAGE_luci-app-navidrome=y

#主题界面luci-theme-design
#CONFIG_PACKAGE_luci-theme-design=y
#CONFIG_PACKAGE_luci-app-design-config=y
#-------------------2025.04.04-测试------------------------------------------------#

#-------------------2025.04.12-测试-----------------#



#易有云文件管理器
CONFIG_PACKAGE_linkmount=y
CONFIG_PACKAGE_linkease=y
CONFIG_PACKAGE_luci-app-linkease=y
CONFIG_PACKAGE_luci-i18n-linkease-zh-cn=y

#通用共享
CONFIG_PACKAGE_samba4-server=y
CONFIG_PACKAGE_webdav2=y
CONFIG_PACKAGE_unishare=y
CONFIG_PACKAGE_luci-app-unishare=y
#CONFIG_PACKAGE_luci-i18n-unishare-zh-cn=y


# Proxy
#  Passwal
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=n
